.layoutflow {
    flex-grow: 1;
    position: relative;
    height: 100%;
}

.layoutflow .controls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    font-size: 12px;
}

.layoutflow .controls button:first-child {
    margin-right: 10px;
}

div#app {
    display: flex;
    flex-wrap: wrap;
}

div.sidebar {
    position:relative;
}

div .ips-view {
    height: 600px;
    overflow: scroll;
}

.flex-child {
    flex: 1;
    border: 2px solid black;
    border-radius: 6px;
    margin-right: 20px;
}

div#sidebar-controls {
    position: absolute;
    bottom: 0px;
}

div.component {
    cursor: pointer;
}
div.component.selected {
    background-color: lightgrey;
}

div.component.active {
    background-color: lightgreen;
}
.component-label-stage {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.component-label {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
}

div .ip-packet .events {
    display: flex;
}

div.ip-packet.events.start {
    flex: 1
}

span.ip-ref {
    background: #f4f5f6;
    color: #800;
    font-family: monospace;
}
